
@use '@angular/material' as mat;

html, body {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.full-width {
  width: 100%;
}

.padding-p {
  padding: 8px !important;
}

.padding-m {
  padding: 16px !important;
}

.padding-g {
  padding: 24px !important;
}



